.footer {
  background-color: #153f61; /* Cinza escuro para o rodapé */
  color: white; /* Texto branco */
  padding: 10px;
  text-align: center;
  position: fixed; /* Fixa o footer na parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}