.form {
  background-color: #FFFFFF; /* cor do formulário */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.input_container {
  margin-bottom: 15px;
}

.input_container label {
  color: #333333; 
  font-weight: bold;
}

.input_container input {
  width: 99%;
  padding: 10px;
  border: 1px solid #B0B0B0; /* Borda cdicionadas */
  border-radius: 4px;
  font-size: 16px;
}

.btn {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Faz o botão ocupar a largura total */
  max-width: 200px; /* Define uma largura máxima para o botão */
}

.btn:hover {
  background-color: #1976D2; /* Azul mais escuro no hover */
}